<%provide(:title, "More")%>
<h1>Hey, you</h1>
<h2>I love you and you're awesome</h2>
<p align="center">I honestly can no longer remember what life felt like before you. Whenever I try to I get sad, so I stop doing that.<br> Your smile makes me instantly happy. I don't really understand that.<br>
<p2 align="center"> (like biologically. it's just weird)</p2><br>
I love holding hands with you in public places. I like to see people seeing you being with me.<br>
I never cease to be impressed by you. Lately, it's specifically been the way you handle yourself in a conversation. You have this strangely powerful energy that I can't really put my finger on. I like that. It's one of the reasons I don't just like you, I respect you. But also, I like you. Which is cool.<br>
<img src="alex_snow.jpg" width="300"/><br>
<p2>whenever i'm sad, i look at this picture and then i'm not sad<p2>
</p>