<% provide(:title, 'Even more')%>
<h1>Stuff</h1>
<h2>particularly, stuff that we should do</h2>
<div align="center">
	<div style="background-color:#f0f0f0;width:400px" align="left">
		<p>
			<ul>
				<li>rock climbing</li>
				<li>take fun pictures</li>
				<li>play monopoly at IKEA</li>
				<li>swim until we are about to drown, but then we don't</li>
			</ul>
		</p>
	</div>
</div>