<% provide(:title, 'HOME')%>
<h1>Ode to Alex Fraley</h1>
<h2>some men write love songs. some men write poems. i write code.<br>feel the love</h2>
<p align="middle">
<img src="IMG_6765.JPG" alt="rss feed" width="800" align = "middle"/>
<br>
let the cascading style sheets cascade a river of adoration into your heart
</p>
