<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "alex","#",id: "logo"%>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path%></li>
					<li><%= link_to "More", more_path%></li>
					<li><%= link_to "Even more", do_stuff_path%></li>
				</ul>
			</nav>
		</div>
	</div>
</header>